numpy<2
onnxruntime==1.18.0
torch>=2.2,<2.6
timm>=0.9,<1.1
fastapi==0.95.2
uvicorn[standard]==0.22.0
SQLAlchemy==2.0.20
alembic==1.11.1
pydantic==1.10.12
python-multipart==0.0.6
aiofiles==23.1.0
Pillow==10.0.1
opencv-python-headless==4.8.1.78
mediapipe==0.10.13
jinja2==3.1.2
python-jose[cryptography]==3.3.0
pandas>=2.0